Package: wabashd-shell
Version: 4.0.1
Architecture: all
Essential: no
Section: utils
Priority: optional
Depends: bash (>= 4.3.0)
Maintainer: Thomas H. <wabashd-shell@alternize.com>
Installed-Size: 1
Description: The Windows Service for Linux portion of the wabash session-keepalive system.
Homepage: https://github.com/heldchen/wabashd-shell
